# ----------------------------
# API
# ----------------------------
fastapi
uvicorn
pydantic
python-multipart

# ----------------------------
# Core ML / math
# ----------------------------
numpy
pandas
scikit-learn

# ----------------------------
# NLP pipeline
# ----------------------------
torch
transformers
nltk
spacy
vaderSentiment

# ----------------------------
# Computer Vision
# ----------------------------
opencv-python