# ----------------------------
# API
# ----------------------------
fastapi
uvicorn
pydantic

# ----------------------------
# Core ML / math
# ----------------------------
numpy
scipy
pandas
scikit-learn

# ----------------------------
# NLP pipeline
# ----------------------------
torch
transformers
nltk
spacy
vaderSentiment

# ----------------------------
# Computer Vision (Face)
# ----------------------------
opencv-python
mediapipe
deepface
tensorflow

# ----------------------------
# Audio processing (Voice)
# ----------------------------
librosa
soundfile
pyaudio

# ----------------------------
# Utility
# ----------------------------
python-multipart